#navbar ul{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 10px 0;
      
}

a{
    text-decoration: none;
}

#navbar li{
    margin: 15px 0;
    border-top: 1px solid black;
    width: 100%;
    text-decoration: none;
    text-align: center;
    padding-top: 2%;
    
}
#navbar  {
    border: 1px solid red;
    width: 100vw;
}

.container{
    display: flex;
}
#main-doc{
    border: orange 1px solid;
    width: auto;

}





